<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borrow</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<form>

    <div class="mainformcontainer">

        <div class="inputwrap">

            <div class="inputcontainer">
                <div class="formlabel" style="font-size:5em;">Successful!</div>
            </div>

        </div>

    </div>

</form>
